.App {
  text-align: center;
}


body{
  direction: rtl;
}

.app p {
  color:red;
}

.dis {
  color: #34ac89;
  font-size: small;
}
.image{
  width: 40px;
      height: 40px;
}
.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: rgb(255 82 0 / 65%) !important;
  
}
.th{
     border-color: black !important; 
}
.hidden{
  display: none;
}
.btn-primary {
  color: #000 !important;
  background-color: #e9e8e8 !important;
  border-color: #e9e8e8 !important;
}
.background{
background-color: #ffb18c;
border: none;
margin-left: 70px;
}
.nav {
height: 60px;
background-color: #05345d;
}
.titel{
  color: #ffffff;
  text-align: center;
  margin: auto;
  font-weight: bold;
}
.discount{
  background-color: red;
}
